<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{~/static/css/myStyle.css}"/>
</head>
<body>
<div th:replace="fragments/menu :: header"></div>

<div class="alert alert-danger" role="alert" th:if="${param.error}">
    Неправильный логи и пароль.
</div>

<form th:action="@{/login}" method="post">
      <div class="form-group">
        <label for="username">Логин</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" minlength="4" class="form-control" id="password" name="password">
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<script type="text/javascript" th:src="@{~/static/js/jquery-3.4.1.slim.min.js}"></script>
<script type="text/javascript" th:src="@{~/static/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{~/static/js/bootstrap.min.js}"></script>
</body>
</html>